.page-layout {
    display: grid;
    height: 100vh;
    max-width: 1280px;
    margin: 0 auto;
    grid-template-columns: 256px 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: 
        "header header"
        "sidebar main"
        "footer footer";
    gap: 10px;
}

header { grid-area: header; }
main { grid-area: main;}
aside { grid-area: sidebar; }
footer { grid-area: footer; }

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    grid-column: 1 / -1;
    height: 66px;
    border-bottom: 2px solid #00b3ff;
}

footer {
    grid-column: 1 / -1;
    background-color: blanchedalmond;
    border: 1px solid rgb(233, 164, 61);
    text-align: center;
    height: 33px;
    box-shadow: 4px 4px 6px -4px rgba(0, 0, 0, 0.633);
    border-radius: 3px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    color: rgb(247, 148, 0);
    column-gap: 20px;
}

aside {
    background-color: rgb(209, 209, 203);
}

.inner-header {
    width: 100%;
    height: 75%;
    background-image: linear-gradient(to bottom, #2478c1, #81c2fc);
    box-shadow: 3px 3px 3px rgb(126, 126, 126), -2px -2px 3px rgb(178, 178, 178);
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-text {
    color: #a6d0f5;
    font-size: 25px;
    font-weight: bold;
    letter-spacing: 7px;
    text-shadow: 
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px  1px 0 #000,
        1px  1px 0 #000;
    margin-top: -5px;
}

.main-nav {
    background-color: rgb(144, 201, 255);
    max-width: 800px;
    min-width: 400px;
    width: 40%;
    margin: -12px auto;
    border-radius: 4px;
    box-shadow: 0 5px 10px -2px rgba(0, 0, 0, 0.504);
}

.main-nav ul {
    list-style: none;
    margin: 0;
    padding: 5px;
    display: flex;
    justify-content: space-between;
}

.main-nav ul li {
    font-size: 13px;
}

.main-nav ul li a {
    text-decoration: none;
    color:rgb(26, 104, 149);
}

.main-nav ul li a:hover,
.main-nav ul li a:focus ,
.main-nav ul li a:active,
.main-nav ul li a.active {
    text-decoration: none;
    color: rgb(242, 148, 33);
}



.footer-nav {
    list-style: none;
}

.footer-nav ul {
    display: flex;
    list-style: none;
}

.footer-nav ul li a {
    text-decoration: underline;
    color: rgb(247, 148, 0);
    padding: 0 10px;
    border-right: 1px solid rgb(247, 148, 0);
}

.footer-nav ul li a:hover,
.footer-nav ul li a:focus,
.footer-nav ul li a:active,
.footer-nav ul li a.active {
    color:antiquewhite;
    background-color: rgb(247, 148, 0);
}

.footer-nav ul li:last-child a {
    border-right: none;
}

.news-item {
    background-color: antiquewhite;
    border: 1px solid grey;
}

.news-header {
    display: flex;
    justify-content: space-between;
    color: rgb(149, 146, 173);
    background-color: rgb(235, 198, 129);
    padding: 3px;
    user-select: none;
    align-items: center;
}

.drop-down-icon {
    display: flex;
    width: 20px;
    height: 20px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.drag-icon {
    display: flex;
    width: 20px;
    height: 20px;
    justify-content: center;
    align-items: center;
    cursor: grab;
}

.news-header:hover {
    background-color: rgb(255, 187, 61);
}

.news-item.active .news-header:hover {
    background-color: rgb(250, 208, 129);
}

.news-header div {
    padding: 5px;
    font-size: 23px;
}

.news-content {
    background-color: white;
    overflow: hidden;
    max-height: 0;
}

.news-item.active .news-header {
    color: white;
    background-color: rgb(255, 187, 61);
}

.news-item.active .news-content{
    max-height: none;
}

.news-content p {
    margin: 0;
    color: rgb(4, 77, 233);
    font-size: 15px;
    padding: 7px;
}

.process-text {
    height: 400px;
    border: 1px solid black;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
}

.tool-bar {
    background-image: linear-gradient(to bottom, #aedae6, #2066e8);
    border-bottom: 1px solid black;
    flex-shrink: 0;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
}

.text-field {
    flex-grow: 1;
    box-sizing: border-box;
    padding: 0 20px;
    overflow-y: auto;
    overflow-x: hidden;
    word-wrap: break-word;
}

.text-field p {
    font-size: 25px;
    width: 100%;
    word-break: break-word;
}

.tool-bar .name {
    color: white;
    font-size: 25px;
    font-weight: bold;
}

.tool-bar .tools {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.tool-bar .tools input {
    padding: 6px 0;
}

.tools button {
    color: white;
    background-color: #2e73d3;
    border: 0px;
    border-radius: 20px;
    padding: 8px 13px;
    width: 100px;
    font-size: 14px;
    cursor: pointer;
}

.tools button:hover {
    background-color: rgb(45, 107, 194);
    transform: translateY(-1px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.tools button:active {
    background-color: rgb(35, 85, 155);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); 
    transform: translateY(0);
}

.sampleStyle {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.sampleStyle span {
    font-size: 20px;
    color: #ff0000;
    background-color: #ffff00;
}

.sampleStyle .moreSettingButton {
    background-color: #2066e8;
    border: none;
    cursor: pointer;
    padding: 3px 5px;
    border-radius: 50%;
}

.moreSettingButton:hover {
    background-color: rgb(34, 82, 149);
    transform: translateY(-1px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.moreSettingButton:active {
    background-color: rgb(27, 64, 116);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); 
    transform: translateY(0);
}

.sampleStyle .moreSettingButton img {
    width: 24px;
    height: 24px;
}

.settingsContainer {
    position: relative;
    display: inline-block;
}

.popup-box {
    position: absolute;
    top: 130%;
    left: -200%;
    background-color: #f0f8ff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px 15px;
    min-width: 150px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    z-index: 10;
    flex-direction: column;
}